@use "../styles/variables.scss" as *;
@use "../styles/mixins.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $color-background-primary;
  height: 100vh;
  padding: 2rem;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.content-wrapper {
  background-color: $color-background-light;
  border-radius: 12px;
  flex-grow: 1;
  overflow: hidden;
}

.btn-interval {
  @include button($bg: $color-primary, $font-size: $font-size-3xl);
}

.app-wrapper {
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.timer-wrapper  {
  @include flexbox;
}

.sticker-picker {
  position: relative;
  display: flex;
  z-index: 0;
  justify-content: center;
  align-items: center;

  &__button {
    @include button($bg: $color-background-light, $radius: 50%, $ratio: 1);
    img {
      min-width: 150px;
      margin: 2rem;
    }
  }

  &__dropdown {
    @include dropdown;
  }

  &__item {
    @include dropdown-item;
  }
}

.timer-container {
  @include flexbox($direction: column);
  max-height: 30rem;
}

.interval-container {
  @include flexbox($direction: column);

  &__interval-name {
    @include flexbox;
    font-size: $font-size-5xl;
    color: $color-background-primary;
  }

  &__interval-variants {
    @include flexbox;
  }
}

.btn-playback button {
   @include button($bg:transparent, $hover-bg: none);
}

.cats-container {
  padding: 2rem;
  height: 90vh;
}
